.navigation{
    background-color: #666;
    overflow: hidden;
}

.navigation .brand{
    float: left;
}

.navigation>a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    line-height: 100%
}

.wrapper{
    padding-top: 3rem;
    width:70%;
    margin-left: auto;
    margin-right: auto;
}

input{
    color:black;
}