<% include ../partials/header %>

<form action="/login" method="POST">
    <fieldset>
        <label for="nameField">Name</label>
        <input placeholder="Username" name="username" id="nameField" type="text">
        <label for="passField">Password</label>
        <input placeholder="password" name="password" id="passField" type="password">
        <a id="loginSubmit" class="button button-primary">Submit</a>
    </fieldset>
</form>

<script>
    document.getElementById("loginSubmit").addEventListener("click", function(event){
        event.preventDefault()
        var email = document.getElementById("nameField").value
        var password = document.getElementById("passField").value
        
        firebase.auth().signInWithEmailAndPassword(email, password)
        .then(function(data){
            console.log("Authenticated")
            console.log(data)
            firebase.auth().currentUser.getIdToken(/* forceRefresh */ true).then(function(idToken) {
                var xhttp = new XMLHttpRequest();
                xhttp.open("POST", "/login", true);
                xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                xhttp.send("idtoken=" + idToken);
            }).catch(function(error) {
                console.log("idToken Error:")
                console.log(error)
            });
        })
        .catch(function(error) {
            // Handle Errors here.
            var errorCode = error.code;
            var errorMessage = error.message;
            console.log(errorCode, errorMessage)
        })
    });
</script>

<% include ../partials/footer %>