<% include ../partials/header %>

<form>
    <fieldset>
        <label for="nameField">Fullname</label>
        <input placeholder="John Doe" id="fullnameField" type="text">
        <label for="nameField">Name</label>
        <input placeholder="Username" id="nameField" type="text">
        <label for="passField">Password</label>
        <input placeholder="password" id="passField" type="password">
        <a id="registerSubmit" class="button button-primary">Register</a>
    </fieldset>
</form>

<script>
    document.getElementById("registerSubmit").addEventListener("click", function(event){
        event.preventDefault()
        var fullName = document.getElementById("fullnameField").value
        var email = document.getElementById("nameField").value
        var password = document.getElementById("passField").value
        
        firebase.auth().createUserWithEmailAndPassword(email, password)
        .then(function(data){
            var user = firebase.auth().currentUser;
            user.updateProfile({
            displayName: fullName
            }).then(function() {
            // Update successful.
            }).catch(function(error) {
            // An error happened.
            });
        })
        .catch(function(error) {
            // Handle Errors here.
            var errorCode = error.code;
            var errorMessage = error.message;
            console.log(errorCode, errorMessage)
        })
    });

    function logIn(){
        var xhr = new XMLHttpRequest();
        xhr.open('POST', 'https://yourbackend.example.com/tokensignin');
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.onload = function() {
        console.log('Signed in as: ' + xhr.responseText);
        };
        xhr.send('idtoken=' + id_token);
    }
</script>


<% include ../partials/footer %>