<html>

<head>
    <title>Firebase App</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
    <link rel="stylesheet" href="/style.css">
    <script src="https://www.gstatic.com/firebasejs/5.3.0/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyC28kh_0ZQu41P2w_5KAwsI9prKCAuL-xM",
            authDomain: "myawesomeproject-c4805.firebaseapp.com",
            databaseURL: "https://myawesomeproject-c4805.firebaseio.com",
            projectId: "myawesomeproject-c4805",
            storageBucket: "myawesomeproject-c4805.appspot.com",
            messagingSenderId: "595215167795"
        };
        firebase.initializeApp(config);
    </script>
</head>

<body>
    <nav class="navigation">
        <a href="/" class="brand">
            <h1>Application</h1>    
        </a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </nav>
    <main class="wrapper">